.nav-container{
	margin:0;
	display: flex;
	height:auto;
	background-color:#ddeaff;
	}
.left-nav{
	display:flex;
	width:49%;
	float:left;
}
.right-nav{
	display:flex;
	width:49%;
	float:right;
	flex-direction:row-reverse;
}
#disabled-div{
	pointer-events : none;
	cursor : none;
	color: gray;
}
.nav-div{
	max-width:127px;
	max-height:40px;
	text-align: center;
	padding:5px;
}
#main-nav{
	max-width:127px;
	max-height:40px;
	text-align: center;
	padding:5px;
}
.dropdown-div{
	margin-top:15px;
	border:1px solid black;
	display:none;
}
.nav-links{
	text-decoration: none;
}
#med-side{
	display:none;
}
.na-div{
	display:none;
}

/*-------------------------------------------------------------------------MeDIA SCREEN--------------------------------------------------------------*/

@media only screen and (max-width:1029px)
{
	.imp{
		display:none;
	}
	.res-div{
		display:flex;
		flex-direction:column;
		background-color:#ddeaff;
	}
	#searchbar{
		display:none;
	}
	#med-side{
	display:block;
	margin:5px;
	}
	.nav-div{
		display:none;
	}
	.na-div{
		display:inline;
		width:100%;
		
	}
	
}


